.container-gallery{
    min-height: 100vh;
    display: grid;
    padding: 0 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.box{
    padding: 1rem;
    color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 1px 1px 20px black;
    justify-content: center;
}

.box2:hover,.box3:hover,.box4:hover,.box6:hover,.box7:hover,.box8:hover,.box10:hover,.box11:hover,.box12:hover{
    transform: scale(.99);
    padding: 1rem;
    border-radius: 15px;
    color: rgba(0, 255, 106, 0.637);
    background-color: rgba(248, 198, 248, 0.15);
}

img{
    width: 100%;
}

.box1,.box5,.box9{
    grid-column: 1/4;
}





@media only screen and (max-width:522px){
    .container-gallery{
        display: flex;
        flex-direction: column;
    }
}

