.container-resarvation{
    width: 60%;
    font-family: sans-serif;

    font-weight: bold;
    padding: 1rem 2px;
    margin: 1rem auto;
    background-color: rgba(50, 46, 53, 0.452);
    box-shadow: 1px 1px 20px black;
    border-radius: 50px;

}


label,h2,.result{
    color: white;
}

.groupe,.radio-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}



.new{
   
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}


.types{
    display: flex;
    gap: 2rem;
}

.number{
    text-align: center;
    padding: 1px 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
}

.days{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    padding: .3rem 2rem;
    background-color: rgb(6, 212, 85);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 15px;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 5px rgba(255, 2, 65, 0.356);
    cursor: pointer;
}

.result{
    font-size: 1rem;
    font-family: sans-serif;
    font-size: 1.9rem;
    color: rgb(243, 1, 1);
    animation: tours 1s infinite;
    padding: .5rem;
}

@keyframes tours {
    0%{color:rgb(243, 1, 1);}
    25%{color: rgb(1, 235, 243);}
    50%{color: rgb(108, 10, 165);}
    75%{color: rgb(21, 243, 1);}
    100%{color: rgb(243, 1, 1);}
}

.genre-essance{
    display: flex;
    gap: 1.5rem;
}

.genre-essance div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2,.genre-ma,.titre{
    color: rgb(243, 1, 1);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.iconss{
    color: rgb(243, 1, 1);
    font-size: 3rem;
}


@media only screen and (max-width:1110px){
    .types{
        flex-direction: column;
        gap: .1rem;
    }
    .type{
        flex-direction: column;
         gap: 0rem;
         justify-content: center;
         padding: .1rem;
        
    }

    .result{
        font-size: 1rem;
    }

    .iconss{
        font-size: 2.5rem;
    }
   
}

